@page   "{handler?}"
@model GeoJsonSimpleModel
@{
}
<style>
    #map {
        height: 725px;
        width: 662px;
    }

   
 
</style>


<div class="marker-position">Click on polygon</div>
 <div id="map"></div>

